
.card {
    width: 800px;
}

#chance-win-text {
    color:#444444;
    border: 2px solid #777;
    border-bottom: none;
}

#knockout-table {
    border-collapse: collapse;
    width: 100%;
}

#knockout-table th, td {
    text-align:center;
    vertical-align:middle;
    border: 1px solid #ddd;
    padding-top: 5px;
    padding-bottom: 5px;
}

#knockout-table td {
    width: 5vw;
    min-width: 75px;
}

#upcoming-table {
    border-collapse: collapse;
    width: 100%;
}

#upcoming-table th, td {
    text-align:center;
    vertical-align:middle;
    border: 1px solid #ddd;
    padding-top: 5px;
    padding-bottom: 5px;
}

.blue {
    background-color: #6699FF;
}

.red {
    background-color: #FF666B;
}