{% extends "base.html" %}
{% block pagetitle %}{{event.name}} - {% endblock %}
{% block body %}
<link href="../static/event.css" rel="stylesheet">
<div class="title">
    <b>{{event.start_year}} {{event.name}} - {{event.status}}</b>
</div>
{% if event.finals.in_progress %}
<div class="card" id="knockout-card">
    <div class="card-heading" id="knockout-title"><b>Knockout Rounds</b></div>
    <br>
    <table id="knockout-table">
        {% if event.finals.final_type == "knockout" %}
        <tr>
            <th rowspan="2">Alliance</th>
            <th id="chance-win-text" colspan="{{event.finals.rounds}}">
                Chance of winning
            </th>
        </tr>
        {% endif %}
        <tr>
            {% if event.finals.final_type == "knockout" %}

            {% if event.finals.rounds >= 4 %}
            <th>Eighths</th>
            {% endif %}
            {% if event.finals.rounds >= 3 %}
            <th>Quarters</th>
            <th>Semis</th>
            <th>Final</th>
            {% endif %}

            {% endif %}

            {% if event.finals.final_type == "round-robin" %}
            <th>Escape Round Robin</th>
            <th>Win Finals</th>
            {% endif %}
        </tr>
        {% for alliance_ko_data in event.finals.knockout_predictions %}
        <tr>
            <td>
                {% for alliance in alliance_ko_data[0] %}{{alliance}} {% endfor %}
            </td>
            {% for round in alliance_ko_data[1:] %}
            <!-- TODO: Dynamically colour these cells based on the likelihood of the event-->
            <td>{{round}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}
{% if event.upcoming_matches %}
<div class="card" id="upcoming-card">
    <div class="card-heading" id="upcoming-title"><b>Upcoming Matches</b></div>
    <br>
    <table id="upcoming-table">
        <tr>
            <th>Match</th>
            <th class="blue">Blue Alliance</th>
            <th class="blue">Blue Win (%)</th>
            <th class="red">Red Alliance</th>
            <th class="red">Red Win (%)</th>
        </tr>
        {% for match in event.upcoming_matches %}
        <tr>
            <td>{{match.name}}</td>
            <td class="blue">
                {% for member in match.blue_alliance %}{{member}} {% endfor %}
            </td>
            <!-- TODO: Dynamically colour these cells based on the likelihood of the event-->
            <td>{{match.blue_win_prob}}</td>
            <td class="red">
                {% for member in match.red_alliance %}{{member}} {% endfor %}
            </td>
            <!-- TODO: Dynamically colour these cells based on the likelihood of the event-->
            <td>{{match.red_win_prob}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}
{% if event.retrodictions %}
<div class="card" id="retrodiction-card">
    <div class="card-heading" id="retrodiction-title"><b>Previous Matches</b></div>
    <br>
    <table id="retrodiction-table">
        <tr>
            <th>Match</th>
            <th class="blue">Blue Alliance</th>
            <th class="blue">Blue Win (%)</th>
            <th class="red">Red Alliance</th>
            <th class="red">Red Win (%)</th>
            <th>Predicted Margin</th>
            <th>Actual Margin</th>
        </tr>
        {% for match in event.retrodictions %}
        <tr>
            <td>{{match.name}}</td>
            <td class="blue">
                {% for member in match.blue_alliance %}{{member}} {% endfor %}
            </td>
            <!-- TODO: Dynamically colour these cells based on the likelihood of the event-->
            <td>{{match.blue_win_prob}}</td>
            <td class="red">
                {% for member in match.red_alliance %}{{member}} {% endfor %}
            </td>
            <!-- TODO: Dynamically colour these cells based on the likelihood of the event-->
            <td>{{match.red_win_prob}}</td>
            <td>{{match.predicted_margin}}</td>
            <td>{{match.actual_margin}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}
{% endblock %}